.formulario{
    display: flex;
    flex-direction: column;
    
}

input{
    width: 30%;
    height: 30px;
    border-left: whitesmoke ;
    border-top: whitesmoke ;
    border-right: whitesmoke ;
}

.cadastroo{
    text-decoration: none;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    width: 30%;
    border-color: #00c2cb;
}


.bodyy{
    border-color: #00c2cb;
}

.enviar{
    margin-bottom: 30px;
}

.titulo{
    padding: 40px 0px 0px 30px;
}

a{
    text-decoration: none;
    padding: 15px 10px;
    color: #FFF;
    background: linear-gradient(120deg, #e75590, #00c2cb);
    
}

a:hover{
    background: #e75590;
    color: #FFF;
}

article div{
    padding: 30px;
}

.inputs{
    width: 30%;
    text-decoration: none;
}
